<div class="center jumbotron">
  <h2>
  	Stay in Wonderland.<br >
  	See how deep the rabit-hole goes...
  </h2>
</div>


<h3 style="text-align: center">Take the <%= link_to "Red", signup_path, class: "destaque" %> Pill.</h3>

